html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.primary_gradient {
  background: linear-gradient(90deg, #f4431c 0%, #371108 100%);
}

main {
  padding: 0px 56px;
}

.home_main {
  position: relative;
  padding-top: 112px;
}

.label_regular {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}
.label_medium {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
}

.body2_regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
}

.supportText_semibold {
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  text-align: left;
}

@media (max-width: 768px) {
  .home_main {
    padding: 52px 16px 16px;
  }
}
